name: Build
on:
    push:
        branches: [ main ]
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        outputs:
            version: ${{ steps.properties.outputs.version }}
            changelog: ${{ steps.properties.outputs.changelog }}
            pluginVerifierHomeDir: ${{ steps.properties.outputs.pluginVerifierHomeDir }}
        steps:
            - name: Fetch Sources
              uses: actions/checkout@v4

            - name: Gradle Wrapper Validation
              uses: gradle/actions/wrapper-validation@v3

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                  distribution: zulu
                  java-version: 17

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v3
              with:
                  gradle-home-cache-cleanup: true

            - name: Export Properties
              id: properties
              shell: bash
              run: |
                  PROPERTIES="$(./gradlew properties --console=plain -q)"
                  VERSION="$(echo "$PROPERTIES" | grep "^version:" | cut -f2- -d ' ')"
                  CHANGELOG="$(./gradlew getChangelog --unreleased --no-header --console=plain -q)"

                  echo "version=$VERSION" >> $GITHUB_OUTPUT
                  echo "pluginVerifierHomeDir=~/.pluginVerifier" >> $GITHUB_OUTPUT

                  echo "changelog<<EOF" >> $GITHUB_OUTPUT
                  echo "$CHANGELOG" >> $GITHUB_OUTPUT
                  echo "EOF" >> $GITHUB_OUTPUT

            - name: Build plugin
              run: ./gradlew buildPlugin

            - name: Prepare Plugin Artifact
              id: artifact
              shell: bash
              run: |
                  cd ${{ github.workspace }}/build/distributions
                  FILENAME=`ls *.zip`
                  unzip "$FILENAME" -d content

                  echo "filename=${FILENAME:0:-4}" >> $GITHUB_OUTPUT

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ steps.artifact.outputs.filename }}
                  path: ./build/distributions/content/*/*

    test:
        name: Test
        needs: [ build ]
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Sources
              uses: actions/checkout@v4

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                  distribution: zulu
                  java-version: 17

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v3
              with:
                  gradle-home-cache-cleanup: true

            - name: Run Tests
              run: ./gradlew check

            - name: Collect Tests Result
              if: ${{ failure() }}
              uses: actions/upload-artifact@v4
              with:
                  name: tests-result
                  path: ${{ github.workspace }}/build/reports/tests

    verify:
        name: Verify plugin
        needs: [ build ]
        runs-on: ubuntu-latest
        steps:
            - name: Maximize Build Space
              uses: jlumbroso/free-disk-space@main
              with:
                  tool-cache: false
                  large-packages: false

            - name: Fetch Sources
              uses: actions/checkout@v4

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                  distribution: zulu
                  java-version: 17

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v3
              with:
                  gradle-home-cache-cleanup: true

            - name: Setup Plugin Verifier IDEs Cache
              uses: actions/cache@v4
              with:
                  path: ${{ needs.build.outputs.pluginVerifierHomeDir }}/ides
                  key: plugin-verifier-${{ hashFiles('build/listProductsReleases.txt') }}

            - name: Run Plugin Verification tasks
              run: ./gradlew verifyPlugin -Dplugin.verifier.home.dir=${{ needs.build.outputs.pluginVerifierHomeDir }}

            - name: Collect Plugin Verifier Result
              if: ${{ always() }}
              uses: actions/upload-artifact@v4
              with:
                  name: pluginVerifier-result
                  path: ${{ github.workspace }}/build/reports/pluginVerifier

    releaseDraft:
        name: Release draft
        if: github.event_name != 'pull_request'
        needs: [ build, test, verify ]
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Fetch Sources
              uses: actions/checkout@v4

            - name: Remove Old Release Drafts
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  gh api repos/{owner}/{repo}/releases \
                    --jq '.[] | select(.draft == true) | .id' \
                    | xargs -I '{}' gh api -X DELETE repos/{owner}/{repo}/releases/{}

            - name: Create Release Draft
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  gh release create "v${{ needs.build.outputs.version }}" \
                    --draft \
                    --title "v${{ needs.build.outputs.version }}" \
                    --notes "$(cat << 'EOM'
                  ${{ needs.build.outputs.changelog }}
                  EOM
                  )"
